//Переменные 
@import "general/variables.scss";
//Миксины
@import "general/mixins.scss";
//Шрифты
@import "general/fonts.scss";

//Добавляется после цифр // &display=swap&subset=cyrillic-ext


// Иконочные шрифты
// @import "general/icons.scss";

// Шрифт по умолчанию
$fontfamily: "Larsseit";

// Переменные 
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 950;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Цвета


// Cтруктура сайта
@import "../scss/modules/header.scss";
@import "../scss/modules/main.scss";
@import "../scss/modules/footer.scss";

// Обнуление, общие параментры
@import "general/null.scss";
body{
    color: #000;
    font-size: 14px;
    &._lock{
        overflow: hidden;
    }

}


.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loader{}
}

// ._container {
//     max-width: $maxWidthContainer + px;
//     margin: 0 auto;
//     @media (max-width: $md1+px) {
//         min-width: 970px;
//     }
//     @media (max-width: $md2+px) {
//         min-width: 750px;
//     }
//     @media (max-width: $md3+px) {
//         min-width: none;
//         padding: 0 10px;
//     }
// }

.page{
    flex: 1 1 auto;
}


// User Interface
@import "general/forms.scss";
@import "general/ui.scss";

