// ====== overall =========//
.slider {
  max-width: 730px;
  &__navigation {
    display: flex;
    flex-basis: 100px;
    gap: 16px;
  
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 5;
  }
  &__wrapper {
    padding-bottom: 70px;
  }
  &__body {
    position: absolute;
    bottom: 8%;
    left: 10%;
    z-index: 2;
  } 
  &__title {
    font-weight: 700;
    line-height: 150%;
    color: #ffffff;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 171%;
    color: #bdbdbd;
  }
  &--size {
    .swiper-slide {
      width: 280px;
      height: 280px;
      transform: scale(1);
      transition: transform 0.2s ease;
    }
    .swiper-slide-active {
      transform: scale(1.2); 
      transition: all 0.2s ease;
    }
  }


}

// ================ first-slider============== //
.first-slider {
  padding: 10px 0;
  margin: 30px 15px;
  max-width: 730px;
  @media (min-width: 768px) and (min-height: 768px) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 10%;
  }
  &__item {
    position: relative;
  }
  &__caption {
    position: absolute;
    bottom: 20px;
    left: 20%;
    font-family: $fontFamilyMain;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    opacity: 0.7;
  }

  &__navigation {
    filter: $iconsFilterWhite;
    bottom: 5px;
    left: 0;
  }
}

.first-slider .swiper-wrapper {
  padding-bottom: 80px; //20
}
.first-slider .swiper-slide {
  width: 210px;
  height: 210px;
  filter: contrast(130%) grayscale(50%);
}
.first-slider .swiper-slide-active {
  transform: scale(1.2); // увеличение на 20%
  filter: none;
  transition: all 0.2s ease;
}
.swiper-slide .first-slider__item {
  transform: scale(1); // уменьшить неактивный слайд
  transition: transform 0.2s ease;
}
//================== team-slider ======================= //
.team-slider {
  position: relative;
  max-width: 100%;
  &__item {
  }

  &__img {
    margin-bottom: 24px;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #000000;
  }
  &__navigation {
    filter: $iconsFilterBlack;
  }
}

//================== arrival-slider ======================= //
.arrival-slider {
  //position: relative;
  margin: 50px 10px;
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__item {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: calc(100% - 2 * 8px);
      height: 40%;
      bottom: 10px;
      left: 3%;
      background: linear-gradient(
        179.37deg,
        #000000 1.87%,
        rgba(0, 0, 0, 0.572235) 58.73%,
        rgba(0, 0, 0, 0) 94.86%
      );
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  &__navigation {
    filter: $iconsFilterWhite ;
  }
}
