// ====== overall =========//
.slider {
  max-width: 730px;
  z-index: 15;
  &__navigation {
    display: flex;
    flex-basis: 100px;
    gap: 16px;
  
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 5;
    &--rigth {
      @media (min-width: 1200px) {
        left: auto;
        right: 0;
      }
      
    }
  }
  &__wrapper {
    padding-bottom: 80px;
  }
  &__body {
    position: absolute;
    bottom: 8%;
    left: 10%;
    z-index: 2;
    width: calc(300px - 2 * 40px);
    overflow: hidden;

  } 
  &__title {
    font-weight: 700;
    line-height: 150%;
    color: #ffffff;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 171%;
    color: #bdbdbd;
  }
  &--size {
    .swiper-slide {
      max-width: 280px;
      max-height: 280px;
      transform: scale(1);
      transition: transform 0.2s ease;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        width: calc(330px - 2 * 35px); // width: calc(300px - 2 * 24px);
        height: 40%;
        bottom: 10px;
        left: 4%;
        background: linear-gradient(
          179.37deg,
          #000000 1.87%,
          rgba(0, 0, 0, 0.572235) 58.73%,
          rgba(0, 0, 0, 0) 94.86%
        );
        transform: matrix(1, 0, 0, -1, 0, 0);
        @media (min-width: 768px) {
          width: calc(300px - 2 * 24px);
          //width: calc(300px - 2 * 20px);
        } 
      }
    }
    .swiper-slide-active {
      transform: scale(1.2); 
      transition: all 0.2s ease;
    }
  }


}

// ================ first-slider============== //
.first-slider {
  padding: 10px 0;
  margin: 30px 15px;
  max-width: 730px;
  @media (min-width: 768px) and (min-height: 768px) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 10%;
  }
  &__item {
    position: relative;
  }
  &__caption {
    position: absolute;
    bottom: 20px;
    left: 20%;
    font-family: $fontFamilyMain;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    opacity: 0.7;
  }

  &__navigation {
    filter: $iconsFilterWhite;
    bottom: 5px;
    left: 0;
  }
}

.first-slider .swiper-wrapper {
  padding-bottom: 80px; //20
}
.first-slider .swiper-slide {
  width: 210px;
  height: 210px;
  filter: contrast(130%) grayscale(50%);
}
.first-slider .swiper-slide-active {
  transform: scale(1.2); // увеличение на 20%
  filter: none;
  transition: all 0.2s ease;
}
.swiper-slide .first-slider__item {
  transform: scale(1); // уменьшить неактивный слайд
  transition: transform 0.2s ease;
}


//================== arrival-slider ======================= //
.arrival-slider {
  //position: relative;
  margin: 50px 25px;
  
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    right: 0;
    top: 37%;
    transform: translateY(-37%);
  }
  @media (min-width: 768px) {
    margin-inline-start: auto;
  } 

  &__navigation {
    filter: $iconsFilterWhite ;
  }
}

//================== second-day-slider  ======================= //
.second-day-slider {
    margin-top: 50px;
  @media (min-width: 1200px) {
    margin: 0;
  }

  &__item {
  }

  &__navigation {
  }
}
//================== vachkazhets-slider ======================= //
.vachkazhets-slider {
  margin-top: 50px;
  max-height: 350px;
  @media (min-width: 1200px) {
    margin: 0;
  }

  @media (min-width: 768px) {

  }
  &__item {
  }

  &__navigation {
    filter: $iconsFilterWhite;
    @media (min-width: 1200px ) {
      filter: none;
    }
  }
}

//================== avachinsky-slider ======================= //
.avachinsky-slider {
  margin: 50px 25px 0;
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    right: 0;
    top: 37%;
    transform: translateY(-37%);
  }
  @media (min-width: 768px) {
    margin-inline-start: auto;
  } 

  &__navigation {
    filter: $iconsFilterWhite ;
  }
}
//================== sea-trip-slider======================= //

.sea-trip-slider {
  margin: 50px 25px 0;
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    left: 0;
    top: 10%;
  }
  &__item {
  }

  &__navigation {
    filter: $iconsFilterWhite ;
  }
}

//================== sea-ocean-slider ======================= //
.sea-ocean-slider {
  margin: 50px 25px 0;
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    right: 0;
    top: 56%;
  }
  &__item {
  }

  &__navigation {
    filter: $iconsFilterWhite ;
  }
}
//================== helicopter-slider ======================= //
.helicopter-slider {
  margin: 50px 25px 0;
  @media (min-width: 1200px) {
    margin: 0;
    position: absolute;
    left: 0;
    top: 60%;
    //bottom: 0%;
  }
  &__item {
  }

  &__navigation {
    filter: $iconsFilterWhite ;
  }
}
//================== team-slider ======================= //
.team-slider {
  position: relative;
  max-width: 100%;
  &__item {
  }

  &__img {
    margin-bottom: 24px;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #000000;
  }
  &__navigation {
    filter: $iconsFilterBlack;
  }
}