.about {
  padding: 50px 0;
  position: relative;
  &__bg {
    position: relative;
    &::after{
      content: '';
      top: 49%;
      right: 0;
      position: absolute;
      background-image: url('../../img/about/about-bg.jpg');
      width: 100%;
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -2;
    }
    &::before{
      content: '';
      top: 49%;
      right: 0;
      position: absolute;
      background: linear-gradient(182.6deg, #FFFFFF 3.35%, rgba(255, 255, 255, 0.572235) 36.22%, rgba(255, 255, 255, 0) 65.79%);
      z-index: -1;
      width: 100%;
      height: 17%;
      @media (min-width: 768px) {
        height: 100%;
      }
    }
  }
  &::after{
    content: '';
    top: 50%;
    right: 0;
    position: absolute;
    background: linear-gradient(2.4deg, #000000 12.72%, rgba(0, 0, 0, 0.633721) 44.36%, rgba(0, 0, 0, 0) 70.61%);
    width: 100%;
    height: 50%;
    z-index: -1;
  }
  &::before{
    content: '';
    bottom: 27%;
    left: 9%;
    position: absolute;
    background-image: url('../../img/about/airplane-full.png');
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(3.3deg);
    width: 568.71px;
    height: 231.7px;
    @media (min-width: 768px) {
      //background-image: url('../../img/about/airplane-768.png');
      width: 802.81px;
      height: 327.07px;
      bottom: 20%;
      left: 45%;
    }
  }
  &__tittle {
    margin-bottom: 26px;
  }

  &__subtittle {
    font-size: 20px;
    line-height: 160%;
    color: #313131;
    opacity: 0.8;
    margin-bottom: 18px;
  }

  &__text {
    font-size: 16px;
    line-height:  150%;
    color: #313131;
    opacity: 0.8;
    margin-bottom: 50px;
  }

  &__data {
  }

  &__bottom {
  }

  &__descr {
    font-family:$fontFamilySecond;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  &__subdescr {
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    color: #DEDEDE;
    margin-bottom: 15px;
  }
}

.section {

  &__tittle {
    font-family: $fontFamilySecond;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: var(--color-black);
  }
}
.data {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 250px;
  @media (min-width: 768px) {
    margin-bottom: 40%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-shrink: 0;
    word-break: break-word;
    @media (min-width: 768px) {
      flex-basis: 25%;

    }
  }
  &__logo {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    &--complexity {
      background-image: url('../../img/sprite/level.svg');
    }
    &--period {
      background-image: url('../../img/sprite/wall-clock.svg');
    }
    &--duration {
      background-image: url('../../img/sprite/calendar.svg');
    }
    &--hotel {
      background-image: url('../../img/sprite/hotels.svg');
    }
  }
  &__category {
    font-family: $fontFamilySecond;
    font-size: 14px;
    line-height: 24px;
  }

  &__descr {
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    color: var(--color-black);
  }
}
.author {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  &__link {
    text-decoration-line: underline;
    color: inherit;
  }
}
