.first {
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
  }

  &__button {
  }

  &__text {
  }

  &__schedule {
  }

  &__social {
  }

  &__slider {
  }
}
.schedule {

  &__btn {
  }
}
.button {

  &__arrow {
  }

  &__arrow--interact {
  }
}
.social {

  &__links {
  }
}
