
.footer {
  background-color: #212121;
  padding-top: 60px;
  color: #fff;

  &__content {
    border-bottom: 1px solid #363636;
    @media (min-width: 768px) {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media (min-width: 992px) {
      flex-wrap: nowrap;
      gap: 40px;
      justify-content: start;
    }
  }

  &__nav {
    margin-bottom: 50px;
    @media (min-width: 992px) {
      flex-basis: 250px;
    }
    @media (min-width: 768px) {
      border-right: 1px solid #363636;
      padding-right: 40px;
    }
    
  }

  &__logo {
    margin-bottom: 40px;
  }

  &__list {
    margin-bottom: 50px;
  }

  &__gallery {
    margin-bottom: 50px;
    @media (min-width: 992px) {
      padding-right: 40px;
    }
    @media (min-width: 768px) {
      border-right: 1px solid #363636;
    }
  
  }

  &__links {
    margin-bottom: 50px;
    @media (min-width: 992px) {
    }
    @media (min-width: 768px) {
      border-right: 1px solid #363636;
    }
  }
  &__social {
    gap: 16px;
  }
  &__contacts {
    margin-bottom: 50px;

    @media (min-width: 992px) {
      flex-basis: 250px;
    }
  
  }

  &__bottom {
    padding: 20px 0;
    font-size: 14px;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }
}


.list {
  line-height: 150%;
  > li:not(:last-child){
    margin-bottom: 16px;
  }

  &-item {
    &__link {
      color: var(--color-gray);
    }
  } 
}

.gallery {

  &__top {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: $fontFamilySecond;
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    color: var(--color-gray);
    a {
      color: inherit;
    }
  }
  &-list {
    display: grid;
    gap: 7px;
    grid-template: 1fr / repeat(3,91px);
    grid-auto-flow: row;
    &__item {
      width: 91px;
      height: 97px;
      // нужен ли тут хавер? 
      &:hover, :focus{
        transform: scale(1.5);
        transition: transform .2 ease-out;
      }
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 171%;
    padding: 10px 21px 10px 29px;
    border: 1px solid #fff;
    & > a {
      color: var(--color-gray);
    }
    &:hover {
      color: #363636;
    }
  }
}

.news {
  display: flex;
  line-height: 150%;
  margin-bottom: 50px;
  gap: 18px;
  cursor: pointer;
  &__img {
    background-image: url('../../img/footer/review.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 102px;
    width: 65px;
    border-radius: 8px;
    flex-shrink: 0;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 8.22px;
      height: 11.25px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../../img/icons/play.svg');
      z-index: 3;
    }

    &::before{ // круг
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      border-radius: 50%;
      border: 1px solid #fff;
      z-index: 3;
      background-color: inherit;
    }

  }

  &__text {
    max-width: 60%;
    
  }
  &__title {
    font-family: $fontFamilySecond;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: var(--color-gray);
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  &__top {
    font-family: $fontFamilySecond;
    margin-bottom: 35px;
  }
  &__bottom {
    padding: 0 16px;
  }
  &__tel {
    color: inherit;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
  }

  &__descr {
    color: var(--color-gray);
    font-size: 14px;
    line-height: 229%;
    display: block;
  }

  &__email {
    color: inherit;
    margin-bottom: 12px;
    line-height: 150%;
    display: block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: -20px;
    
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../../img/icons/email.svg');
      width: 16px;
      height: 16px;
      display: block;
    }
  }

  &__local-address {
    line-height:  150%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: -22px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../../img/icons/place-localizer.svg');
      width: 18px;
      height: 18px;
      display: block;
      filter: $iconsFilterWhite;
    }
  }
}
