.header {
  position: absolute;
  inset: 0;
  z-index: 5;
  height: 110px;
  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 1440px) {
    
  }
  &__container {
    min-height: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__logo {
  }

  &__menu {
    
  }
}

.logo {
  max-width: 167px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  &__image{
    width: 50px;
    height: 38px;
  }
  &__title{
    max-width: 100px;
  }
}
.menu {

  
  &__icon {
  }

  &__body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: var(--color-black);

    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 10;
    
    transform: translate(0px, -100%);
    transition: transform .3 ease-in 10ms;
    &._active {
      transform: translate(0px, 0%);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-direction: column;
    align-items: center;
  
  }

  &__link {
    font-size: 20px;
    line-height: 32px;
    color: #212121;
  }

  &__button {
    border: 1px solid var(--color-black);
    padding: 10px 32px;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
  }  
}

.icon-menu {
    display: block;
    position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
    z-index: 15;

		span{
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: -16px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--color-black);
			&:first-child{
				top: 0;
			}
			&:last-child{
				top: auto;
				bottom: 0;
			}
		}
		&._active{
			span{
				transform: scale(0);
				&:first-child{
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child{
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
}


