.week {
  &__title {
    font-family: $fontFamilySecond;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 24px;
    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 125%;
      margin-bottom: 50px;
    }

    &--white {
      color: #fff;
      position: relative;
      z-index: 2;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: #acacac;
    &--white {
      color: #fff;
    }
    &--brown {
      color: #313131;
    }
    
  }
  &__link {
    color: inherit;
    text-decoration: underline;
  }
}
//================== arrival (day-1)  ===============//
.arrival {
  position: relative;
  background-image: url('../../img/week/arrival-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 50px 0 160px 0;
  @media (min-width: 1200px) {
    padding: 50px 0 240px 0;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: linear-gradient(
      180deg,
      #000000 7.21%,
      rgba(0, 0, 0, 0.31) 68.74%,
      rgba(0, 0, 0, 0) 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 50%;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background-image: url('../../img/week/cloud-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
  }
  &__content {
    position: relative;
    max-width: 460px;
  }

  &__title {
   
  }

  &__text {
    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__slider {
  }

  &__item {
  }

  &__navigation {
  }
}

//================== second-day (day-2) ===============//

.second-day {
  position: relative;
  padding: 50px 0;
  &__content {
  }

  &__img {
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translateY(-50%);
    top: 40%; //top: 48%;
 /*    @media (min-width: 768px) {
      top: 50%;
    } */
  }
  &__title {
    @media (min-width: 992px) {
      max-width: 890px;
    }
  }

  &__top {
    margin-bottom: 180px;
    @media (min-width: 992px) {
      max-width: 550px;
    }
    @media (min-width: 768px) {
      max-width: 433px;
      margin-bottom: 35px;
    }
    p:not(:last-child) {
      margin-bottom: 38px;
    }
  }


  &__bottom {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 35px;
    }
  
    p:first-child{
      max-width: 300px;
      @media (min-width: 1200px) {
        max-width: inherit;
      }
    }
    p:not(:last-child) {
      margin-bottom: 38px;
    }

  }
  &__text {
    @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    order: 2;
    flex: 0 0 480px;
    }
  }

}
//================== vachkazhets (day-3) ===============//

.vachkazhets {
  position: relative;
  min-height: 100vh;
  padding: 50px 0;
  @media (min-width: 768px ){
    padding: 50px 0 120px 0;
  }
/*   @media (min-width: 1200px ){
    padding: 50px 0 160px 0;
  } */
  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background-image: url('../../img/week/vachkazhets-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 475px;
  }
  &::after {
    @media (min-width: 768px ){
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url('../../img/week/eagle.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 530px;
      height: 299px;
    }
    @media (min-width: 1200px ){
      right: auto;
      left: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    }
  &__content {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      align-items: center;
    }
  }

  &__body {
    order: 2;
    flex: 0 0 505px;
  }

  &__title {
  }

  &__text {
    p:not(:last-child) {
      margin-bottom: 34px;
    }
  }
}


//================== avachinsky (day-4) ===============//
.avachinsky {
  position: relative;
  background: #000000; 
  min-height: 100vh;
  padding: 50px 0 160px 0;
  @media (min-width: 1200px) {
    padding: 50px 0 240px 0;
  }

  &::after {
    position: absolute;
    bottom:  0;
    right: 0;
    content: '';
    background-image: url('../../img/week/gull.png');
    background-repeat: no-repeat;
    width: 373px;
    height: 315px;
    @media (min-width: 1200px) {
      bottom: 10%;
      right: 10%;
    }
  }
  &__content {

  }

  &__title {
    @media (min-width: 1200px) {
      max-width: 533px;
    }
  }

  &__text {
    
    @media (min-width: 1200px) {
      max-width: 461px;
    }
    p:not(:last-child) {
      margin-bottom: 34px;
    }
  }
}
//================== sea ( day-5,6 ) ===============//
.sea {

  &__top {
  }

  &__bottom {
  }
}

.sea-trip {

  &__body {
  }

  &__content {
  }

  &__title {
  }

  &__text {
  }
}

.sea-ocean {

  &__body {
  }

  &__content {
  }

  &__title {
  }

  &__text {
  }

  &__service {
  }
}

.service {

  &__name {
  }
}
.service-item {

  &__name {
  }

  &__text {
  }
}

//================== leaving  (day-8) ===============//
.leaving {
  background-image: url('../../img/week/leaving-bg.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 700px;
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background: linear-gradient(
      2.4deg,#000 12.72%,rgba(0,0,0,.633721) 44.36%,rgba(0,0,0,0) 70.61%);
        width: 100%;
        height: 65vh;
      @media (min-width: 992px) {
        height: 120vh;
      }
    }

		&__body {
      padding: 120px 0px 50px 0;
      position: relative;
      z-index: 2;
      @media (min-width: 992px) {
        padding: 140px 0px 160px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
		}
    &__content {
      @media (min-width: 992px) {
        flex: 0 1 480px;
      }
    }
		&__title {
      margin-bottom: 24px;
		}

		&__text {
		}
}