.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  &__image {
    width: 50px;
    height: 38px;
  }
  &__title {
    max-width: 100px;
  }
}

.button {
  &__arrow {
  }
  &__arrow--interact {
  }
}
.button {
  width: 38px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 43.5px;
  background-color: inherit;
  cursor: pointer;
  position: relative;
  @media (min-width: 768px) {
    &:hover {
      transition: opacity .8 ease-out;
      opacity: .5;
    }
  }
  &-prev {
    &::after {
      content: "";
      width: 15px;
      height: 15px;
      background-image: url("../../img/sprite/right-arrow.svg");
      transform: rotate(180deg);
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  &-next {
    &::after {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../../img/sprite/right-arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 10px;
    }
  }
  &-accent {
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
  }
}

.social {
  display: flex;
  align-items: center;
  &__links {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    
    @media (min-width: 768px) {
      &:hover {
        filter: $iconsFilterSecondary;
        transition: filter .8 ease-out;
      }
    }

    &--fb {
      background-image: url("../../img/sprite/Facebook.svg");
      width: 18px;
      height: 20px;
      &-lite {
          background-image: url("../../img/sprite/fb-lite.svg");
      }
    }
    &--inst {
      background-image: url("../../img/sprite/inst.svg");
      width: 20px;
      height: 20px;
      &-lite {
          background-image: url("../../img/sprite/inst-lite.svg");
      }
    }
    &--vk {
      width: 24px;
      height: 24px;
      &-lite {
          background-image: url("../../img/sprite/vk.svg");
      }
    }
  }
}